.heroImg {
  position: relative;
  background-image: url("../../assets/images/plan-heroImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 0.5rem;
  margin-top: 2rem;

  width: 100%;
}
.ad {
  background-color: var(--dark-grey-blue);
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: 6rem;
  color: #fefcf7;
}
.planOptions {
  display: flex;
  margin-top: 6rem;
  gap: 4rem;
  align-items: flex-start;
  width: 100%;
 
}
.orderSummaryWrapper{
  width: 80%;
}

@media screen and (max-width: 1024px){
  .planOptions{
    flex-direction: column;
    width: 100%;
  }


}
@media screen and (max-width: 768px){
  .orderSummaryWrapper{
    width: 100%;
    margin: auto;
  }

}
@media screen and (max-width: 500px) {
  .heroImg {
    height: 70vh;
  }
  .orderSummaryWrapper{
    width: 100%;
  }
}
