.heroImg {
  position: relative;
  background-image: url("../../assets/images/plan-heroImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 0.5rem;
  margin-top: 2rem;

  width: 100%;
}
.ad {
  background-color: var(--dark-grey-blue);
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: 6rem;
  color: #fefcf7;
}
.planOptions {
  display: flex;
  margin-top: 6rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 75%;
}
@media screen and (max-width: 500px) {
  .heroImg {
    height: 70vh;
  }
}
